input.input-error {
  border: 2px solid rgb(244, 0, 0) !important;
}

input.input-error:focus {
  border: 1px solid rgb(244, 0, 0) !important;
  outline: none !important;
  box-shadow: 0 0 0 1px rgb(244, 0, 0) !important;
}

